<div class="page-header">
  <h1><%= @product.name %></h1>
</div>

<div class='row'>
  <div class="col-md-8 col-md-offset-2">
    <div class="col-item">
      <div class="photo">
        <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
      </div>
      <div class="info">
        <div class="row">
          <div class="price col-md-6">


            <p>
              <%= @product.description %>
            </p>
            <h2 class="price-text-color">
              <%= @product.price %>
              <%= link_to add_to_cart_product_path(@product.id), class: 'btn btn-success' do %>
                <span class="fa fa-shopping-cart"></span>
                Add to cart
              <% end %>
            </h2>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class='row'>
  <%= link_to products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
</div>
